c-container
  .container
    slot

  script.
    import anime from 'animejs'
    export default {
      onMounted() {
        this.root.style.setProperty('--rotate-x-deg', `${this.props.rotatex || '0deg'}`)
        this.root.style.setProperty('--rotate-y-deg', `${this.props.rotatey || '0deg'}`)
        this.root.style.setProperty('--rotate-z-deg', `${this.props.rotatez || '0deg'}`)

        anime({
          targets: this.$$('.box'),
          loop:true,
          translateX: 20,
          direction: 'alternate',
          easing: 'linear',
          duration: 500,
          delay: anime.stagger(600)
        })
      }
    }

  style(type="stylus").
    .container
      background-color #23444f
      display -webkit-box
      display -ms-flexbox
      display flex
      -webkit-box-align center
      -ms-flex-align center
      align-items center
      -ms-flex-pack distribute
      justify-content space-around
      -ms-flex-wrap wrap
      flex-wrap wrap
      width 100vw
      height 300px
      padding-top 2vh
      -webkit-transform rotateX(var(--rotate-x-deg)) rotateZ(var(--rotate-z-deg)) rotateY(var(--rotate-y-deg)) scale3d(1, 1, -0.9)
      transform rotateX(var(--rotate-x-deg)) rotateZ(var(--rotate-z-deg)) rotateY(var(--rotate-y-deg)) scale3d(1, 1, -0.9)
