navbar
  nav#navb.navbar(role="navigation" aria-label="main navigation")
    .navbar-brand
      .navbar-item(href="https://bulma.io")
        svgicon(icon="flies" width="100%")

  script.
    import svgicon from './svgicon.pug'

    export default {
      components: { svgicon },
      onMounted() {
        new mojs.Shape({
          parent:       '#navb',
          shape:        'circle',
          fill:         {'#F64040': '#FC46AD'},
          radius:       {20: 80},
          duration:     2000,
          isYoyo:       true,
          isShowStart:  true,
          easing:       'elastic.inout',
          repeat:       999,
        }).play()
      }
    }

  style(type="stylus").
    .navbar-brand
      height 64px
