svgicon
  //- img.svg-icon(src="{'img/' + props.icon + '.svg'}")
  object(type="image/svg+xml" data="{'img/' + props.icon + '.svg'}")

  style(type="stylus").
    .svg-icon
      width 100%
      vertical-align middle
